@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-panel-card {
   background-color: rgba(255, 255, 255, 0.8);
  /* background-image: url('../assets/img/cuttingBoard.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  border: 2px solid rgba(139, 69, 19, 0.6); /* Brown border */
}

.polaroid {
  background-color: white;
  padding: 12px;
  padding-bottom: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.polaroid img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}